<!-- app.component.html -->
<div class="container">
    <div class="group-container" *ngIf="groups.length > 0">
      <h2>Groups</h2>
      <ul class="group-list">
        <li class="group-item" *ngFor="let group of groups">
          <div class="group-detail">
            <h3 class="group-heading">Group Name:</h3>
            <p class="group-name">{{ group.name }}</p>
          </div>
          <div class="group-detail">
            <h3 class="group-heading">Description:</h3>
            <p class="group-description">{{ group.description }}</p>
          </div>
          <div class="group-detail">
            <h3 class="group-heading">Created Date:</h3>
            <p class="group-date">{{ group.createdDate | date: 'mediumDate' }}</p>
          </div>
          <div *ngIf="group.members && group.members.length > 0" class="group-detail">
            <h3 class="group-heading">Members:</h3>
            <ul class="group-members">
              <li *ngFor="let member of group.members" class="member-item">{{ member.email }}</li>
            </ul>
          </div>
          <div *ngIf="!group.members || group.members.length === 0" class="no-members">
            <p>No members found.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="no-groups" *ngIf="groups.length === 0">
      <p>No groups found.</p>
    </div>
  </div>
  